name: ORSO Val. NIST Web Calculator

on:
  push:
    branches: [ master ]
  pull_request:
  schedule:
    - cron:  '0 0 * * 1'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  validate_nistweb:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 16
      - name: Set up Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: '3.9'
      - name: setup apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends python3-dev python3-pip python3-venv build-essential

      - name: Install Python packages
        run: |
          python3 -m venv validate
          source validate/bin/activate

          python3 -m pip install --upgrade pip
          python3 -m pip install wheel setuptools
          python3 -m pip install numpy scipy cython pytest requests

      - name: Validate
        run: |
          source validate/bin/activate
          # run validation via pytest (for Python packages)
          pytest validation/scripts/test_nistweb.py
