name: ORSO Val. mlreflect

on:
  push:
    branches: [ master ]
  pull_request:
  schedule:
    - cron:  '0 0 * * 1'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  validate_mlreflect:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [ 3.7 ]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: setup apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends build-essential

      - name: Install Python packages
        run: |
          python3 -m venv validate
          source validate/bin/activate

          python3 -m pip install --upgrade pip
          python3 -m pip install wheel setuptools pytest
          python3 -m pip install mlreflect

      - name: Validate
        run: |
          source validate/bin/activate
          # run validation via pytest (for Python packages)
          pytest validation/scripts/test_mlreflect.py
